{% extends "base.njk" %}

{% block content %}
  <form class="card" method="POST" action="/agenda">
    <div class="card">
      <section class="avatar" style="background: url(https://source.unsplash.com/collection/228444/300x500)
     no-repeat center center / cover "></section>
      <section class="details">
        <h3>Contato</h3>
        {% include 'agenda/fields.njk' %}
      </section>
    </form>
  {% endblock %}>