<div class="item">
  <div>Nome</div>
  <div>
    <input type="text" name="name" value="{{agenda.name}}">
  </div>
</div>

<div class="item">
  <div>E-mail
  </div>
  <div>
    <input type="email" name="email" value="{{agenda.email}}">
  </div>
</div>

<div class="item">
  <div>Telefone
  </div>
  <div>
    <input type="text" name="telefone" value="{{agenda.telefone}}">
  </div>
</div>

<div class="item">
  <div>Endereço
  </div>
  <div>
    <input type="text" name="endereco" value="{{agenda.endereco}}">
  </div>
</div>

<button type="submit" submit="submit">Salvar</button>