<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>AJS</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/agenda">Agenda</a>
        <a href="/agenda/create">Cadastro de Livros</a>
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>

</html>